* {
    margin: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background: rgb(26, 49, 95); */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 49, 95, 1)), color-stop(10%, rgba(26, 49, 95, 1)), color-stop(24%, rgba(29, 108, 141, 1)), color-stop(37%, rgba(41, 136, 151, 1)), color-stop(77%, rgba(39, 45, 100, 1)), color-stop(90%, rgba(26, 49, 95, 1)), color-stop(100%, rgba(26, 49, 95, 1)));
}